// _couleurs.scss

$primaryColor: #358fe2;
$secondaryColor: #e5f9ff;
$btnColor: lightblue;
// régions

$bretagne: #22c55e;
$pays-de-la-loire: #2563eb;
$nouvelle-aquitaine: #38bdf8;
$normandie: #1e3a8a;
$hauts-de-france: #f59e0b;
$provence-alpes-cote-d-azur: #f97316;
$occitanie: #2dd4bf;
