@import "fonts";
@import "couleurs";

/* ===== Base ===== */
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
}

.blue-link {
  color: rgb(122, 112, 255);

  &:hover {
    text-decoration: underline;
  }
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
html,
body {
  height: 100%;
  margin: 0;
}
body {
  background-color: $secondaryColor;
  font-family: $fontTexte;
  font-size: 18px;
  display: flex;
  flex-direction: column;
}
main {
  flex: 1;
}
.titre {
  font-family: $fontTitle;
}

.box {
  background-color: white;
  box-shadow: 0px 4px 10px 3px #00000025;
}

.content {
  max-width: 1200px;
  width: 100%;
  margin: 40px auto;
}

h1 {
  margin-bottom: 30px;
}

.button {
  border: none;
  border-radius: 15px;
  background-color: $primaryColor;
  color: #fff;
  font-size: 18px;
  width: 15em;
  height: 2.5em;
}

button {
  background-color: none;
  border: none;
}
p {
  margin: 0;
}
.flex {
  display: flex;
  &.center {
    justify-content: center;
  }
  &.between {
    justify-content: space-between;
  }
}
/* -- Forms -- */

.form {
  padding: 5em 10em;
  width: 800px;

  a {
    font-size: 12px;
  }
}

input {
  height: 2em;
  width: 100%;
}

.error {
  color: red;
  font-size: 0.8em;
  font-style: oblique;
}

/* ===== Header ===== */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
  border-radius: 0% !important;

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 175px;
  }

  nav {
    margin-left: auto;

    display: flex;
    justify-content: right;
    align-items: center;

    ul {
      display: flex;

      li {
        margin: 7px;
        padding: 10px;
        border-radius: 10px;
        &.active {
          background-color: $primaryColor !important;
          color: white;
        }
        &:hover {
          background-color: $btnColor;
        }
      }
    }
  }
}
.searchbar {
  display: flex;
  align-items: center;
  width: 15%;
  margin-left: 2%;
  i {
    margin: 5px;
  }
  input {
    display: none;
  }
}
#burger-menu {
  display: none;
}
/* ===== Footer ===== */
footer {
  margin-top: 100px;
  h5 {
    font-family: $fontTitle;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
  }
}
.footernav {
  padding: 2em 5em;
  display: flex;
  justify-content: space-evenly;
  div {
    margin: 0 15px;
  }
}
.copyright {
  text-align: center;
  padding: 10px;
}
/* ===== Index ===== */

/* ===== Carte ===== */
.map {
  margin: 5% 10% 0% 10%;
  position: relative;
  border-radius: 20px;
  height: 955px;
  overflow: hidden;

  &__title {
    color: rgb(150, 210, 245);
    text-align: center;
    font-size: 1.3em;
    padding-top: 20px;
  }

  // Image SVG
  #svgmap {
    padding: 5% 10% 5% 10%;
    width: 100%;
    height: 90%;

    path {
      fill: rgb(101, 176, 201);
      stroke: #fff;
      transition: fill 0.3s;

      &.active {
        stroke-width: 1px;
        fill: rgb(99, 187, 216);
      }
    }
  }
}

/* - Boutons - */
.reset-btn {
  position: absolute;
  background-color: rgb(255, 255, 62);
  border-radius: 0 30px 30px 0;
  width: 110px;
  height: 30px;
}
.reset-btn:hover {
  box-shadow: 0px 4px 10px 3px #00000025;
}

/* prettier-ignore */
.region-btn {
  position: absolute;
  background-color: aqua;
  border: 1px solid black;
  border-radius: 35px;
  width: 100%;
  height: 95%;
  opacity: 1;
  visibility: visible;
  transition:
    opacity 0.3s ease,
    filter 0.2s ease;
  &.btn-1 { background-color: $normandie; }
  &.btn-2 { background-color: $pays-de-la-loire; }
  &.btn-3 { background-color: $nouvelle-aquitaine; }
  &.btn-4 { background-color: $occitanie; }
  &.btn-5 { background-color: $bretagne; }
  &.btn-6 { background-color: $hauts-de-france; }
  &.btn-7 { background-color: $provence-alpes-cote-d-azur; }

  &:hover{
    filter: brightness(0.8); /* darken when hovered */
  }
  &.hide{
    opacity: 0;
    visibility: hidden;
  }
}

.map-credit {
  font-size: small;
  text-align: right;
  padding: 5px;
}

/* ===== Station ===== */
.info {
  border-radius: 10px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    width: 100%;
    padding: 30px;
  }
}
.description {
  padding: 30px;
}
.beach_article {
  width: 65%;
}
.side_bar {
  width: 30%;
  display: flex;
  flex-direction: column;
}
/* - News previews - */
.news_article {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    width: 100%;
    max-width: 900px;
    aspect-ratio: 16 / 9;
  }
  h6 {
    width: 90%;
  }
}
/* - Slider - */
#slider {
  width: 90%;
  max-width: 900px;
  aspect-ratio: 16 / 9;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  overflow: hidden;

  button {
    flex: 0 0 auto;
    font-weight: bold;
    font-size: 24px;
    padding: 10px;
    border-radius: 10px;
  }
}
.slide {
  flex: 1 1 auto;
  min-width: 0;
  margin: 0 0.5rem;
  height: 90%;
  vertical-align: top;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    display: block;
  }
}

.hidden {
  display: none;
}

.legend {
  font-size: 12px;
  text-align: center;
}
/* - Comments section - */

/* ===== Responsive ===== */
@media (max-width: 650px) {
  .flex {
    flex-direction: column;
    align-items: center;
  }
  /* - Head - */
  #burger-menu {
    display: block;
  }
  header nav {
    display: none;
  }
  /* = Station = */
  /* - Slider - */
  #slider {
    aspect-ratio: 4 / 3;
  }

  #slider button {
    font-size: 20px;
    padding: 8px;
  }

  .slide {
    margin: 0 0.25rem;
  }
  /* - Slider - */
  .side_bar {
    flex-direction: row;
    width: 90%;
  }
}
