@import "fonts";
@import "couleurs";

/* ===== Base ===== */
* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #000;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.contenu {
    max-width: 1200px;
    width: 100%;
    margin: 40px auto;
}

body {
    background-color: #E5F9FF;
    font-family: $fontTexte;
    font-size: 18px;
}

.titre {
    font-family: $fontTitle;
}

.box {
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 4px 10px 3px #00000025;
}

.content {
    margin: 0% 20% 0% 20%;
}

h1 {
    margin-bottom: 30px;
}

/* ===== Head ===== */
header {
    height: 175px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
    border-radius: 0% !important;

    .logo {
        display: flex;
        align-items: center;
        justify-content: right;
        width: 25%;
        height: 100%;
        margin: 1px;
    }

    nav {
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: right;
        align-items: center;

        ul {
            display: flex;

            li {
                margin: 3px;
                background-color: lightblue;
            }
        }
    }
}

#burger-menu {
    display: none;
}

/* ===== Index ===== */

/* -- Carte -- */

.map {
    margin: 5% 5% 0% 5%;
    position: relative;

    // .box {}

    &__title {
        color: rgb(150, 210, 245);
        text-align: center;
        font-size: 1.3em;
        padding-top: 20px;
    }

    // Image SVG
    &__image {
        padding: 5% 10% 5% 10%;

        path {
            fill: rgb(101, 176, 201);
            stroke: #FFF;
            transition: fill 0.3s;

            &.active {
                stroke-width: 1px;
                fill: rgb(99, 187, 216);
            }

        }
    }

    // Boutons
    &__list {
        float: left;
        width: 50%;

        ul {
            list-style: none;

            li {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: aqua;
                width: 250px;
                height: 50px;
                border-radius: 40px;
                border: 1px solid black;

            }
        }
    }

    .map-credit {
        font-size: small;
        text-align: right;
        padding: 5px;

        a {
            color: rgb(122, 112, 255);

            &:hover {
                text-decoration: underline;
            }
        }
    }
}