@import "fonts";
@import "couleurs";

/* ===== Base ===== */
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
}

.blue-link {
  color: rgb(122, 112, 255);

  &:hover {
    text-decoration: underline;
  }
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  background-color: $secondaryColor;
  font-family: $fontTexte;
  font-size: 12px;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  z-index: 1;
}

.content {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  margin-bottom: 30px;
}

h1,
h2,
h3 {
  font-family: $fontTitle;
}

p {
  margin: 0;
}

.box {
  background-color: white;
  box-shadow: 0px 4px 10px 3px #00000025;
  border-radius: 10px;
}

button {
  background-color: none;
  border: none;
}

.button {
  border: none;
  border-radius: 15px;
  background-color: $primaryColor;
  color: #fff;
  font-size: 18px;
  width: 8em;
  height: 2.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
  &.column {
    flex-direction: column;
  }
  &.align-center {
    align-items: center;
  }
  &.justify-center {
    justify-content: center;
  }
  &.between {
    justify-content: space-between;
  }
}

.padding-10 {
  padding: 10px;
}

.padding-30 {
  padding: 30px;
}

.padding-50 {
  padding: 50px;
}

.margin-20 {
  margin: 20px;
}
.margin-overunder-3 {
  margin: 3px 0;
}
.margin-side-20 {
  margin-left: 20px;
  margin-right: 20px;
}

.margin-bottom-30 {
  margin-bottom: 30px;
}

.hide {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  display: none;
}
button {
  background-color: inherit;
}

.red {
  color: red;
}
/* ===== Header ===== */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
  border-radius: 0% !important;
  padding: 0;

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    height: 175px;
    img {
      width: 100%;
      max-width: 235px;
    }
  }
}

#header-nav {
  position: fixed;
  top: 175px;
  left: 0;
  z-index: 1000;

  width: 100%;
  height: 500px;

  display: none;

  &.active {
    display: block;
  }

  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    background: white;
    box-shadow: 0px 10px 10px 0px #00000025;

    hr {
      color: black;
      width: 100%;
    }

    li {
      width: 95%;
      height: 60px;
      margin: 7px;
      border-radius: 15px;
      white-space: nowrap;

      a {
        display: flex;
        align-items: center;
        padding: 14px;
        width: 100%;
        height: 100%;
        font-size: 16px;
      }

      &.active {
        background-color: $primaryColor !important;

        a {
          color: white;
        }
      }

      &:hover {
        background-color: $btnColor;
      }
    }
  }
}

.searchbar {
  display: flex;
  align-items: center;
  margin-right: 20px;
  margin-left: 2%;

  i {
    margin: 5px;
  }

  input {
    display: none;
  }
}

#burger {
  display: block;
  padding: 4px 6px;

  color: $primaryColor;
  font-size: 25px;

  border: 1px solid $primaryColor;
  border-radius: 5px;

  &:hover,
  &:active {
    cursor: pointer;
    background-color: rgba($color: black, $alpha: 0.1);
  }
}

/* ===== Footer ===== */
footer {
  margin-top: 100px;
  padding: 0;
  font-size: 12px;
}

.footernav {
  padding: 20px 16px;
  display: flex;
  justify-content: space-evenly;
  div {
    margin: 0 15px;
  }
  .title {
    font-size: 14px;
    font-weight: bold;
  }
}

.copyright {
  text-align: center;
}

/* ===== Index ===== */
.map-intro {
  margin: 0 20px;
}

/* ===== Carte ===== */
.map {
  margin-top: 20px;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  aspect-ratio: 1 / 1;

  &__title {
    color: rgb(150, 210, 245);
    text-align: center;
    font-size: 0.8em;
    padding-top: 20px;
  }

  // Image SVG
  #svgmap {
    padding: 50px 10px;
    width: 100%;
    height: 90%;

    path {
      fill: rgb(101, 176, 201);
      stroke: #fff;
      transition: fill 0.3s;

      &.active {
        stroke-width: 1px;
        fill: rgb(99, 187, 216);
      }
    }
  }
}

/* - Boutons - */
.reset-btn {
  position: absolute;
  top: 100px;
  background-color: rgb(255, 255, 62);
  border-radius: 0 30px 30px 0;
  width: 110px;
  height: 30px;
}

.reset-btn:hover {
  box-shadow: 0px 4px 10px 3px #00000025;
}

/* prettier-ignore */
.region-btn,
.beach-btn {
  position: absolute;
  border-radius: 35px;
  opacity: 1;
  visibility: visible;
  transition:
    opacity 0.3s ease,
    filter 0.2s ease;



  &.btn-1 { background-color: $bretagne; }
  &.btn-2 { background-color: $pays-de-la-loire; color: white; }
  &.btn-3 { background-color: $nouvelle-aquitaine; }
  &.btn-4 { background-color: $normandie; color: white; }
  &.btn-5 { background-color: $hauts-de-france; }
  &.btn-6 { background-color: $provence-alpes-cote-d-azur; }
  &.btn-7 { background-color: $occitanie; }

  &:hover{
    filter: brightness(0.8); /* darken when hovered */
  }
}

.region-btn {
  font-size: 18px !important;
  width: 35%;
  height: 40%;
  border: 2px solid rgba(0, 0, 0, 0.5);
}

.beach-btn {
  font-size: 0.6rem !important;
  border: 1px solid rgba(0, 0, 0, 0.5);
  width: 50%;
  height: 35%;

  display: flex;
  align-items: center;
}

.credit {
  font-size: small;
  width: 100%;
  text-align: right;
  padding: 5px;
}

/* ===== Station ===== */
#station {
  flex-direction: column;
  align-items: center;
}
.beach_header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  h1 {
    margin-bottom: 0;
  }
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* - Note - */
.rating {
  display: flex;
  align-items: center;
  i {
    font-size: 24px;
    cursor: pointer;
    color: #ccc;
    &:active {
      color: gold;
    }
  }
}

/* - Weather card - */
.weather {
  width: 100%;
  max-width: 650px;
}

.weather-card {
  background: $primaryColor;
  color: white;
  font-family: Arial, sans-serif;

  &__main {
    display: flex;
    gap: 16px;
    align-items: center;
  }
}

#temp {
  font-size: 42px;
  font-weight: bold;
}

.stats {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 6px;
}

.stat {
  background: rgba(255, 255, 255, 0.08);
  padding: 6px 8px;
  border-radius: 8px;
}

/* --- */
/* - Slider - */
#slider {
  width: 100%;
  max-width: 900px;
  aspect-ratio: 4 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  overflow: hidden;
  padding: 0;

  button {
    flex: 0 0 auto;
    font-weight: bold;
    font-size: 20px;
    padding: 8px;
    border-radius: 10px;
    &:hover {
      background-color: rgb(231, 231, 231);
    }
    &:active {
      background-color: rgb(153, 153, 153);
    }
  }
}
.slide {
  flex: 1 1 auto;
  min-width: 0;
  margin: 0 0.25rem;
  height: 80%;
  vertical-align: top;

  img,
  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    display: block;
  }
}

.hidden {
  display: none;
}

.legend {
  font-size: 12px;
  text-align: center;
}
/* - Side bar - */
.side_bar {
  width: 75%;
  display: flex;
  flex-direction: column;
}

.beach_preview {
  // Cache les articles sauf les 3 premiers
  &:nth-child(n + 4) {
    display: none;
  }
}

/* - Comments section - */

.comment {
  margin: 10px 0;
  border: 1px solid rgba(0, 0, 0, 0.349);

  &__info {
    width: 97%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__author {
      display: flex;
      align-items: center;
      .avatar {
        width: 60px;
        aspect-ratio: 1 / 1;
      }
    }
    &__note {
      display: none;
      font-size: 12px;
    }
  }
  &__content {
    // Casse les mots trop longs
    overflow-wrap: break-word;
    word-break: break-word;
  }
}
.comment_write {
  border: 1px solid rgba(0, 0, 0, 0.534);
}
/* ===== News - Actualités ===== */

.news_list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

/* - News previews - */
.news_article {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &:hover {
    text-decoration: underline;
  }

  img {
    width: 100%;
    max-width: 900px;
    aspect-ratio: 16 / 9;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
  }

  &__title {
    width: 100%;
    height: 50px;
    padding: 2% 10%;
    margin: 0;

    overflow: hidden;
    text-overflow: ellipsis;
    // white-space: nowrap;

    h2 {
      font-size: 12px;
    }
  }
}
/* ===== News - Article ===== */
.article_news {
  position: relative;
}
.bottom-left {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
/* ===== News - Rédaction ===== */
#article_write {
  textarea {
    width: 100%;
  }
  input,
  select {
    width: 40%;
    margin-bottom: 20px;
  }
  #station_container {
    width: 100%;
    gap: 10px;
    align-items: flex-start;
  }
  #station_list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    label {
      display: flex;
      align-items: center;
      width: 40%;
      padding: 12px;
      border: 1px solid rgba(0, 0, 0, 0.15);
      border-radius: 10px;
      background: #fafafa;
    }
    input {
      margin: 0;
    }
  }
}
/* ===== Login/Register ===== */
/* - Forms - */
.form {
  padding: 5em 10em;

  a {
    font-size: 12px;
  }
  .button {
    margin-top: 30px;
  }
  input {
    height: 2em;
    width: 100%;
  }
}
.form-group {
  margin: 10px 0;
}

.error {
  color: red;
  font-size: 0.8em;
  font-style: oblique;
}

.submit {
  display: flex;
  justify-content: center;
}
/* ===== Utilisateur ===== */
.user {
  flex-direction: column;
  justify-content: start;
  align-items: start;
  &__box {
    width: 100%;
    border-radius: 0 10px 10px 10px;
  }
}

#user_nav {
  border-radius: 10px 10px 0 0;

  nav ul {
    display: flex;
    padding: 10px;
    li {
      padding: 5px 10px;
      a {
        color: black;
        &:active {
          color: $primaryColor;
        }
      }
    }
  }
}
.tab_icon {
  font-size: 24px;
}
.tab_text {
  display: none;
}
/* - Profile - */
.user_avatar {
  width: 75px;
  height: 75px;
  aspect-ratio: 1 / 1;
}
/* - Account - */
#delete-btn {
  width: 13em;
}
/* ===== Privacy Policy ===== */
.policy {
  h2 {
    margin-bottom: 10px;
    margin-top: 40px;
  }

  ul {
    list-style: disc;
    padding: 10px;
    margin-left: 10px;
  }
}

/* ===== Responsive ===== */
@media (min-width: 650px) {
  body {
    font-size: 14px;
  }
  .button {
    width: 15em;
  }
  /* - Head - */
  header {
    padding: 0 2em;
  }
  /* - Footer - */

  .footernav {
    padding: 40px 80px;
    font-size: 16px;
    .title {
      font-family: $fontTitle;
      font-size: 18px;
    }
  }
  /* = Map = */
  .map__title {
    font-size: 1.3em;
  }
  .map {
    margin: 5% 10% 0% 10%;
    border-radius: 20px;
    #svgmap {
      padding: 10px 40px;
    }
  }
  /* = Station = */

  /* - Weather - */
  .stats {
    grid-template-columns: repeat(2, 1fr);
  }
  /* - Slider - */
  #slider {
    aspect-ratio: 16 / 9;
  }

  #slider button {
    font-size: 24px;
    padding: 10px;
  }

  .slide {
    margin: 0 0.5rem;
  }
  /* - Comments - */
  .comment__info__note {
    display: block;
  }
  /* = News = */
  .news_article__title h2 {
    font-size: 13px;
  }
  .news_list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1000px) {
  body {
    font-size: 18px;
  }
  /* - Head - */
  header {
    position: static;
  }

  #burger {
    display: none;
  }

  #header-nav {
    display: block;
    position: static;
    margin-left: auto;
    width: auto;
    height: auto;
    hr {
      display: none;
    }
    ul {
      box-shadow: none;
      flex-direction: row;
      background: none;
      gap: 10px;
      li a {
        font-size: 15px;
      }
    }
  }
  /* = Station = */
  #station {
    flex-direction: row;
    align-items: start;
    .beach_article {
      width: 80%;
    }
  }
  .beach_header {
    flex-direction: row;
    gap: 0;
    i {
      font-size: 24px;
    }
  }
  /* - Side bar - */
  .side_bar {
    width: 30%;
  }
  .news_article:nth-child(n + 4) {
    display: block;
  }
  /* = News = */
  .news_list {
    grid-template-columns: repeat(4, 1fr);
  }
  .news_article__title h6 {
    font-size: 14px;
  }
  /* = User = */
  .user {
    flex-direction: row;
  }
  #user_nav {
    border-radius: 10px 0 0 10px;
    nav ul {
      flex-direction: column;
    }
  }
  .tab_icon {
    display: none;
  }
  .tab_text {
    display: block;
  }
}
@media (min-width: 1300px) {
  header {
    padding: 0 10em;
  }
  #header-nav ul li a {
    font-size: 16px;
  }
}
