/* montserrat-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat-v31-latin-regular.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* open-sans-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/open-sans-v44-latin-regular.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* ===== Base ===== */
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
}

.blue-link {
  color: rgb(122, 112, 255);
}
.blue-link:hover {
  text-decoration: underline;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  background-color: #e5f9ff;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

.titre {
  font-family: "Montserrat", serif;
}

.box {
  background-color: white;
  box-shadow: 0px 4px 10px 3px rgba(0, 0, 0, 0.1450980392);
}

.content {
  max-width: 1200px;
  width: 100%;
  margin: 40px auto;
}

h1 {
  margin-bottom: 30px;
}

.button {
  border: none;
  border-radius: 15px;
  background-color: #358fe2;
  color: #fff;
  font-size: 18px;
  width: 15em;
  height: 2.5em;
}

button {
  background-color: none;
  border: none;
}

p {
  margin: 0;
}

/* -- Forms -- */
.flex {
  display: flex;
  justify-content: center;
}

.form {
  padding: 5em 10em;
  width: 800px;
}
.form a {
  font-size: 12px;
}

input {
  height: 2em;
  width: 100%;
}

.error {
  color: red;
  font-size: 0.8em;
  font-style: oblique;
}

/* ===== Header ===== */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
  border-radius: 0% !important;
}
header .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 175px;
}
header nav {
  margin-left: auto;
  display: flex;
  justify-content: right;
  align-items: center;
}
header nav ul {
  display: flex;
}
header nav ul li {
  margin: 7px;
  padding: 10px;
  border-radius: 10px;
}
header nav ul li.active {
  background-color: #358fe2 !important;
  color: white;
}
header nav ul li:hover {
  background-color: lightblue;
}

.searchbar {
  display: flex;
  align-items: center;
  width: 15%;
  margin-left: 2%;
}
.searchbar i {
  margin: 5px;
}
.searchbar input {
  display: none;
}

#burger-menu {
  display: none;
}

/* ===== Footer ===== */
footer {
  margin-top: 100px;
}
footer h5 {
  font-family: "Montserrat", serif;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
}

.footernav {
  padding: 2em 5em;
  display: flex;
  justify-content: space-evenly;
}
.footernav div {
  margin: 0 15px;
}

.copyright {
  text-align: center;
  padding: 10px;
}

/* ===== Index ===== */
/* ===== Carte ===== */
.map {
  margin: 5% 10% 0% 10%;
  position: relative;
  border-radius: 20px;
  height: 955px;
  overflow: hidden;
}
.map__title {
  color: rgb(150, 210, 245);
  text-align: center;
  font-size: 1.3em;
  padding-top: 20px;
}
.map #svgmap {
  padding: 5% 10% 5% 10%;
  width: 100%;
  height: 90%;
}
.map #svgmap path {
  fill: rgb(101, 176, 201);
  stroke: #fff;
  transition: fill 0.3s;
}
.map #svgmap path.active {
  stroke-width: 1px;
  fill: rgb(99, 187, 216);
}

/* - Boutons - */
.reset-btn {
  position: absolute;
  background-color: rgb(255, 255, 62);
  border-radius: 0 30px 30px 0;
  width: 110px;
  height: 30px;
}

.reset-btn:hover {
  box-shadow: 0px 4px 10px 3px rgba(0, 0, 0, 0.1450980392);
}

/* prettier-ignore */
.region-btn {
  position: absolute;
  background-color: aqua;
  border-radius: 35px;
  width: 100%;
  height: 95%;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease, filter 0.2s ease;
}
.region-btn.btn-1 {
  background-color: #1e3a8a;
}
.region-btn.btn-2 {
  background-color: #2563eb;
}
.region-btn.btn-3 {
  background-color: #38bdf8;
}
.region-btn.btn-4 {
  background-color: #2dd4bf;
}
.region-btn.btn-5 {
  background-color: #22c55e;
}
.region-btn.btn-6 {
  background-color: #f59e0b;
}
.region-btn.btn-7 {
  background-color: #f97316;
}
.region-btn {
  border: 1px solid black;
}
.region-btn:hover {
  filter: brightness(0.8); /* darken when hovered */
}
.region-btn.hide {
  opacity: 0;
  visibility: hidden;
}

.map-credit {
  font-size: small;
  text-align: right;
  padding: 5px;
}

/* ===== Station ===== */
/* - Slider - */
.slide {
  width: 300px;
  height: 130px;
  display: inline-block;
  vertical-align: top;
}

.hidden {
  display: none;
}

/*# sourceMappingURL=style.css.map */
